body {
    background: url(img/Eduardo’s\ first\ impressions\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

header{
    background-color: #333;
    color: white;
    padding: 20px;
    width: 97.01%;
    height: 37px;
    display: flex; /* Usa o modelo flexbox */
    align-items: center; /* Alinha os itens verticalmente no centro */
    
}

header img {
    width: 30px;
    display: flex;
    margin-right: 20px;
}

header h1 {
    margin: 0; /* Remove a margem padrão do h1 */
    font-size: 2em; /* Tamanho do texto */
    margin-right: 20px;
}

.btn-link {
    position: absolute;
    top: 50%; /* Posiciona o topo do botão no meio da tela */
    left: 50%; /* Posiciona a esquerda do botão no meio da tela */
    transform: translate(-50%, -50%); /* Ajusta o botão para que ele seja perfeitamente centralizado */
}

#botao-palavra {
    cursor: pointer;
    color: #007BFF;
    text-decoration: underline;
}

#botao-palavra:hover {
    color: #0056b3;
}

#frase {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #000000;
}


.modal {
    display: none; /* Inicialmente oculta */
    position: fixed; /* Fixa a janela na tela */
    z-index: 1; /* Garante que a modal ficará acima do conteúdo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
}

/* Conteúdo da janela modal */
.modal-content {
    background-color: rgb(185, 125, 125);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 8px;
}

/* Botão de fechar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}